<!-- 头部 -->
        <header class="header">
            <div class="wrapper">
                <!-- 导航 -->
                <nav>
                    <a href="./index">Home</a>
                    <a href="./about">关于我们</a>
                    <a href="./join">传智招聘</a>
                </nav>
                <!-- 注册/登录 -->
                <div class="extra">
                    <a href="./register">注册</a>
                    <a href="./login">登录</a>
                </div>
            </div>
        </header>